@import '../../../assets/sass/app-kit/_variables.scss';
@import '../../../assets/sass/app-kit/_mixins.scss';


.action-bar {
	background-color: $white-color;
	position: absolute;
	width: 100%;
	height: 30px;
}
.social-links {
	text-align: right;
	margin-bottom: 0;
	margin-top: 4px;
	width: 100%;
	li {
		display: inline-block;

		a {
			color: $light-gray;
		}
	}
}
.navbar-brand {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;

	.logo-laboratorio {
		max-height: 70px;
		width: auto;
		margin-right: 40px;
	}
	.logo-united {
		max-height: 60px;
		width: auto;
	}
	.logo-alcaldia {
		max-height: 60px;
		width: auto;
		margin-left: 20px;
	}
	span {
		text-transform: initial;
		margin: 0 2em 0 4em;
		color: $dxc-orange !important;
	}
}

.hidden-xs {
	display: block;

	@include for-phone-only {
		display: none;
	}
}

.hidden-md {
	display: none;

	@include for-phone-only {
		display: block;
	}
}
.btn {
	font-size: 16px;
}