@import '../../assets/sass/app-kit/_variables.scss';

.Hero {
	min-height: 600px;
	background-image: url(../../assets/img/hero-back.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;

	&Container {
		top: 120px;
		position: relative;
		width: 850px;
		max-width: 100%;
		.first, .second, .third {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				position: absolute;
				max-width: 100%;
			}
			p {
				color: $white-color;
				text-align: center;
				text-transform: uppercase;
				z-index: 1;
				margin: 0;
				line-height: 1;
			}
		}
		.first {
			z-index: 1;
			p {
				font-size: 50px;
				font-weight: 400;
			}
		}
		.second {
			top: 4px;
			p {
				font-size: 55px;
				font-weight: 700;
			}
		}
		.third {
			top: 22px;
			p {
				font-size: 30px;
			}
		}
	}
}


/*About Section*/
.About{
	position: relative;
	margin-top: 40px;
	&Container {
		min-height: 630px;
		position: relative;
		background-image: url(../../assets/img/team.jpg);
		background-repeat: no-repeat;
		background-position: left center;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
	}
	.hash {
		margin-top: 30px;
	}
	&Slider {
		width: 660px;
		max-width: 100%;

		&Contaier {
			background-color: $dxc-orange;

			h4 {
				text-align: center;
				color: $dxc-blue;
				font-weight: 700;
				font-size: 34px;
				padding-top: 16px;
			}

			.carousel-content {
				padding: 2em;
				height: 300px;
				display: flex;
				align-items: center;
				p {
					color: $white-color;
					font-weight: 500;
					font-size: 16px;
				}
			}
		}
	}
}


/*Cards Section*/

.routes {
	background-color: $gray-input-bg;
	margin-top: 40px;
	padding: 60px 0;

	h2 {
		color: $dxc-blue;
		font-weight: 800;
		margin-bottom: 60px;
	}

	&Cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		grid-gap: 12px;
		
		.item {
			position: relative;
		}
		.card {

			&Container {
				padding: 28px 18px;

				.picture {
					margin-bottom: 8px;
					img {
						height: 80px;
					}
				}
				.content {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					min-height: 250px;
					
					h4 {
						color: $dxc-blue;
						font-size: 14px;
						font-weight: 400;
					}
					p {
						color: #9B9B9B;
						font-size: 12px;
					}
				}
			}

		}

		.item:hover .cardActive {
			z-index: 1;
			opacity: 1;
			transform: scale(1);
			transform: translateY(-20px);
		}
		.active {
			z-index: 1 !important;
			opacity: 1 !important;
			transform: scale(1) !important;
			transform: translateY(20px) !important;
		}
		.cardActive {
			border-radius: 12px;
			box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
			background-color: $dxc-red;
			color: $white-color;
			margin-bottom: 20px;
			position: absolute;
			top: 0;
			z-index: 0;
			opacity: 0;
			border: 0 none;
			transform: scaleY(0.5);
			transform: rotateY(50deg);
			transform-origin: right top;
			transition: transform 500ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease-in-out, opacity 200ms ease-in-out;

			.content {
				h4 {
					color: $white-color;
					font-size: 20px;
					font-weight: 600;
				}
				p {
					color: $white-color;
					font-size: 16px;
				}
			}
		}
	}
}



// Routes 


.routesLine {
	padding: 2em 0;
	position: relative;

	.route {
		padding: 2em 0;
		position: relative;

		&-container {
			position: relative;
			animation: fadeInDown 2s ease-in-out forwards;

		}

		&-title {
			width: 100%;
			position: relative;
			display: grid;
			grid-template-columns: 100px 1fr;
			grid-auto-rows: repeat(3, 50px);
			grid-template-areas: "ruta ruta"
			". duracion"
			"nombre nombre";
		}
		.u-route {
			grid-area: ruta;
			animation: fadeInDown .5s ease-in-out forwards;

			h4 {
				color: $dxc-blue;
				text-transform: uppercase;
				font-size: 28px;
				margin-top: 0;
			}
		}
		&-duration {
			grid-area: duracion;
			border-top: 1px solid $dxc-orange;
			animation: fadeInRight .8s ease-in-out forwards;

			ul {
				width: 100%;
				margin-bottom: 0;
				display: flex;
				justify-content: flex-end;
				align-items: baseline;
				list-style: none;

				li {
					background-color: $dxc-orange;
					border-right: 1px solid $white-color;
					padding: 4px 12px;
					color: $white-color;

					&:last-child {
						border-right: 0px;
					}
					
				}
			}
		}
		&-name {
			grid-area: nombre;
			position: relative;
			top: -25px;
			animation: fadeInUp 1s ease-in-out forwards;
			h1 {
				color: $dxc-blue;
				margin-top: 0;
				font-size: 34px;
				font-weight: 800;
				text-transform: uppercase;
			}
		}

		&-content {
			padding: 4em 0;
			position: relative;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-template-rows: 1fr;

			.item {
				display: grid;
				grid-auto-columns: 1fr;
				grid-template-rows: 110px 54px 110px;

				&:first-child {
					.item-week {
						box-shadow: none;
						&:before {
							content: "";
							position: absolute;
							left: 0;
							border-top: 27px solid transparent;
							border-right: 27px solid transparent;
							border-bottom: 27px solid transparent;
							border-left: 27px solid $gray-input-bg;
						}
					}
				}

				&:last-child {
					.item-week {
						background-color: #788EC7;
						&:after {
							content: "";
							position: absolute;
							right: -54px;
							border-top: 27px solid transparent;
							border-right: 27px solid transparent;
							border-bottom: 27px solid transparent;
							border-left: 27px solid #788EC7;
						}
					}
					.item-descp {
						p {
							color:#788EC7;
						}
						svg {
							.cls-5{fill:#788EC7;}
							.cls-12{stroke:#788EC7;}
						}
					}
				}

				&:nth-child(odd) {
					grid-template-areas: "desc"
					"week"
					".";
				}
				&:nth-child(even) {
					grid-template-areas: "."
					"week"
					"desc";

					.item-descp {
						top: -24px;
						svg {
							transform: rotate(180deg);

						}
					}
				}

				&-descp {
					grid-area: desc;
					position: relative;
					z-index: 2;
					top: 12px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-end;
					p {
						text-align: center;
						color: $dxc-orange;
					}
					svg {
						height: 70px;
						width: auto;

						.cls-1,.cls-12,.cls-2{fill:none;}
						.cls-1{clip-rule:evenodd;}
						.cls-3{clip-path:url(#clip-path);}
						.cls-4{clip-path:url(#clip-path-2);}
						.cls-5{fill:$dxc-orange;}
						.cls-6{clip-path:url(#clip-path-3);}
						.cls-7{isolation:isolate;}
						.cls-8{clip-path:url(#clip-path-5);}
						.cls-9{clip-path:url(#clip-path-6);}
						.cls-10{fill:#fff;}
						.cls-11{clip-path:url(#clip-path-8);}
						.cls-12{stroke:$dxc-orange;stroke-miterlimit:10;stroke-width:2px;}
						.cls-13{clip-path:url(#clip-path-10);}
						.cls-14{clip-path:url(#clip-path-12);}
						.cls-15{clip-path:url(#clip-path-13);}

					}
				}

				&-week {
					grid-area: week;
					position: relative;
					background-color: $dxc-orange;
					display: flex;
					align-items: center;
					justify-content: center;
					-webkit-box-shadow: inset 2px 0px 2px 0px rgba(0,0,0,0.12);
					-moz-box-shadow: inset 2px 0px 2px 0px rgba(0,0,0,0.12);
					box-shadow: inset 2px 0px 2px 0px rgba(0,0,0,0.12);

					p {
						color: $white-color;
						text-align: center;
					}

				}
			}
		}


		&-objective {
			position: relative;
			background-color: $white-color;
			padding: 2em;
			border-radius: 14px;
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
			-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
			animation: fadeInUp 2s ease-in-out forwards;

			&:before {
				content: "";
				border-radius: 10px;
				border-top: 60px solid transparent;
				border-right: 110px solid transparent;
				border-bottom: 60px solid $white-color;
				border-left: 110px solid transparent;
				position: absolute;
				top: -80px;
				left: calc(50% - 110px);
			}	

			&-title {
				display: block;
				padding: 1em 0;
				&:after {
					content: "";
					width: 60px;
					display: block;
					border-top: 2px solid $dxc-orange;
					margin: 0 auto;
				}
				h3 {
					text-transform: uppercase;
					font-size: 30px;
					font-weight: 700;
					margin-top: 0;
					text-align: center;
				}
			}
			p {
				text-align: center;
				font-size: 18px;
				font-weight: 500;
			}
		}
	}

}


@keyframes fadeInDown {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes fadeInUp {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes fadeInRight {
	from {
		transform: translateX(10px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}


