<section class="Hero">
	<div class="Hero-slider">
		<ngb-carousel>
			<ng-template ngbSlide>
				<img src="../../assets/img/slide-001.jpg" alt="Slide" class="img-slide">
			</ng-template>
			<ng-template ngbSlide>
				<img src="../../assets/img/slide-002.jpg" alt="Slide" class="img-slide">
			</ng-template>
			<ng-template ngbSlide>
				<img src="../../assets/img/slide-003.jpg" alt="Slide" class="img-slide">
			</ng-template>
		</ngb-carousel>
	</div>
	<div class="HeroLayout"></div>
	<div class="HeroContainer">
		<div class="first">
			<img src="../assets/img/rectangle-1-red.svg" alt=":D">
			<p>Profe,</p>
		</div>
		<div class="second">
			<img src="../assets/img/rectangle-2-yellow.svg" alt=":D">
			<p>en solo dos meses estarás preparado</p>
		</div>
		<div class="third">
			<img src="../assets/img/rectangle-3-blue.svg" alt=":D">
			<p>para superar los retos de la educación del siglo XXI</p>
		</div>
	</div>
</section>


<section class="About">
	<div class="container">
		<div class="animated-text">
			<div class="text">
				#LaboratorioVivo
			</div>
		</div>
		<div class="AboutContainer">
			<div class="AboutSlider">
				<div class="AboutSliderContaier">
					<h4>¿Quiénes somos?</h4>
					<p>
						El Centro de Innovación Laboratorio Vivo es una iniciativa de la Secretaría de Educación del Distrito y United Way -
						Dividendo
						por Colombia, creada para que tú como profesor desarrolles competencias, adquieras habilidades y herramientas que te
						permitan
						construir soluciones concretas a los problemas de tu escuela. <br />
						Este es un beneficio exclusivo y sin costo para los docentes del Distrito.
					
					</p>
				</div>
			</div>
			<div class="hash">
				<span>#SoyProfe</span>
			</div>
		</div>
	</div>
</section>


<section class="routes">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">En solo dos meses, obtén tu certificado como:</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="routesCards">
			
			<div class="item">

				<div class="card">
					<div class="cardContainer">
						<div class="picture">
							<img src="../assets/img/design-experience.svg" alt="Design">
						</div>
						<div class="content">
							<h4>Diseñador de Experiencias</h4>
							<p>
								 Si eliges esta ruta, serás capaz de generar estrategias y aplicar herramientas de diagnóstico del contexto, que te permitirán
								situar al estudiante en el centro del diseño de las metodologías y pedagogías, convirtiéndote en un mediador efectivo de
								las diferencias.
							</p>
							<button class="btn btn-outline-warning btn-round" type="button" routerLink="/ruta-uno">Ver más</button>
						</div>
					</div>
				</div>


				<div class="cardActive" [ngClass]="{'active': visbleOne }">
					<div class="cardContainer">
						<div class="picture">
							<img src="../assets/img/design-experience.svg" alt="Design">
						</div>
						<div class="content">
							<h4>Diseñador de Experiencias</h4>
							<p>Si eliges esta ruta, serás capaz de generar estrategias y aplicar herramientas de diagnóstico del contexto, que te permitirán
							situar al estudiante en el centro del diseño de las metodologías y pedagogías, convirtiéndote en un mediador efectivo de
							las diferencias.</p>
							<button class="btn btn-warning btn-round" type="button" (click)="toggleOne(routesLine)">Ver más</button>
						</div>
					</div>
				</div>

			</div>
			
			<div class="item">

				<div class="card">
					<div class="cardContainer">
						<div class="picture">
							<img src="../assets/img/design-enviroment.svg" alt="Design">
						</div>
						<div class="content">
							<h4>Diseñador de Entorno</h4>
							<p>
								 Si eliges esta ruta, serás capaz de aplicar herramientas prácticas que te permitirán aprovechar el contexto y los recursos
								disponibles, mejorando tus experiencias de aprendizaje y enseñanza.
							</p>
							<button class="btn btn-outline-warning btn-round" type="button" routerLink="/ruta-dos">Ver más</button>
						</div>
					</div>
				</div>

				<div class="cardActive" [ngClass]="{'active': visbleTow }">
					<div class="cardContainer">
						<div class="picture">
							<img src="../assets/img/design-enviroment.svg" alt="Design">
						</div>
						<div class="content">
							<h4>Diseñador de Entorno</h4>
							<p>
								 Si eliges esta ruta, serás capaz de aplicar herramientas prácticas que te permitirán aprovechar el contexto y los recursos
								disponibles, mejorando tus experiencias de aprendizaje y enseñanza.
							</p>
							<button class="btn btn-warning btn-round" type="button" (click)="toggleSecond(routesLine)">Ver más</button>
						</div>
					</div>
				</div>

			</div>

			<div class="item">

				<div class="card">
					<div class="cardContainer">
						<div class="picture">
							<img src="../assets/img/directive.svg" alt="Design">
						</div>
						<div class="content">
							<h4>Gamificador</h4>
							<p>
								Si eliges esta ruta, serás capaz de generar estrategias y aplicar herramientas, que te permitirán medir la efectividad de
								tus innovaciones en términos de logro y motivación en los estudiantes.
							</p>
							<button class="btn btn-outline-warning btn-round" type="button" routerLink="/ruta-tres">Ver más</button>
						</div>
					</div>
				</div>

				<div class="cardActive" [ngClass]="{'active': visbleThree }">
					<div class="cardContainer">
						<div class="picture">
							<img src="../assets/img/directive.svg" alt="Design">
						</div>
						<div class="content">
							<h4>Gamificador</h4>
							<p>
								 Si eliges esta ruta, serás capaz de generar estrategias y aplicar herramientas, que te permitirán medir la efectividad de
								tus innovaciones en términos de logro y motivación en los estudiantes.
							</p>
							<button class="btn btn-warning btn-round" type="button" (click)="toggleThird(routesLine)">Ver más</button>
						</div>
					</div>
				</div>

			</div>
		</div>
		
		<div class="routesLine" #routesLine>
			<app-route-one [@OneLine]='showFirst'></app-route-one>
			<app-route-tow [@OneLine]='showSecond'></app-route-tow>
			<app-route-three [@OneLine]='showThird'></app-route-three>
		</div>
		

	</div>
</section>

<section class="cta">
	<div class="button">
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSewHcYNmrCnFH8CFxbWWopG_Q3gf0V6gmZ2qVN-VHz1Bq9QGA/viewform"  target="_blank">
			<img src="../assets/img/btn.svg" alt="CTA">
		</a>
	</div>
</section>

<section class="calendar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<mwl-demo-component></mwl-demo-component>
			</div>
		</div>
	</div>
</section>





