<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Contáctanos</h4>
                <div class="footer-contact">
                    <h5>Lugar</h5>
                    <p>
                        Centro de Innovación Laboratorio Vivo <br/>
                        (Calle 72bis # 6-44 Piso 10)
                    </p>

                    <h5>WhatsApp</h5>
                    <p>
                         322 2539923
                    </p>

                    <h5>Teléfono</h5>
                    <p>2102350 Ext: 124</p>
                </div>
            </div>

            <div class="col-md-6">
                <ul class="footer-social">
                    <li>
                        <a class="btn btn-twitter-bg twitter-sharrre btn-just-icon" href="https://twitter.com/Dividendo1" target="_blank">
                            <i  class="fa fa-twitter"></i>
                        </a>
                        <a href="https://twitter.com/Dividendo1" target="_blank">@Dividendo1</a>
                    </li>
                    <li>
                        <a class="btn btn-facebook-bg facebook-sharrre btn-just-icon" href="https://www.facebook.com/dividendoporcolombia/" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="https://www.facebook.com/dividendoporcolombia/" target="_blank">United Way, Dividendo por Colombia</a>
                    </li>
                    <li>
                        <a class="btn btn-twitter-bg twitter-sharrre btn-just-icon" href="https://twitter.com/redacademica" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://twitter.com/redacademica" target="_blank">@redacademica</a>
                    </li>
                    <li>
                        <a class="btn btn-just-icon" href="http://www.dividendoporcolombia.org" target="_blank">
                            <i class="fa fa-chrome"></i>
                        </a>
                        <a href="http://www.dividendoporcolombia.org" target="_blank">www.dividendoporcolombia.org</a>
                    </li>
                    <li>
                        <a class="btn btn-just-icon" href="https://www.educacionbogota.edu.co" target="_blank">
                            <i class="fa fa-chrome"></i>
                        </a>
                        <a href="https://www.educacionbogota.edu.co" target="_blank">www.educacionbogota.edu.co</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="footer-logos">
    <div class="item">
        <img src="assets/img/logo-united.svg" class="logo-united" alt="Laboratorio Vivo">
    </div>
    <div class="item">
        <img src="assets/img/logo-alcaldia.svg" class="logo-alcaldia" alt="Laboratorio Vivo">
    </div>
</div>
