@import '../../../assets/sass/app-kit/_variables.scss';
@import '../../../assets/sass/app-kit/_mixins.scss';

.footer {
	background-image: url(../../../assets/img/footer.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #4DB6C2;
	background-blend-mode: soft-light;
	padding: 20px 0;
	transition: all 1s ease-in-out;
	h4 {
		margin-top: 0;
		color: $white-color;
		font-size: 30px;
	}
	&-contact {
		color: $white-color;

		h5 {
			margin: 0;
			color: $dxc-blue;
		}
	}

	&-social {
		list-style: none;

		li {
			margin-bottom: 8px;
			a {
				color: $white-color;
				margin-right: 10px;
			}
		}
	}

	&-logos {
		display: flex;
		justify-content: space-between;
		width: 1200px;
		margin: 0 auto;
		max-width: 100%;
		background-color: $white-color;
		padding: 10px 30px;
		.item	{
			width: 100%;
			display: flex;
			img {
				max-height: 70px;
				width: auto;
				display: block;
			}
			&:last-child {
				justify-content: flex-end;
			}
		}
	}
}